# Unity generated
[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
[Uu]serSettings/
[Pp]lugins/

# Unity Plugins
Assets/BakedMeshes/
Assets/polyhedronGenerator/
Assets/ProBuilder Data/
Assets/QuickOutline/
Assets/TextMesh Pro/
Assets/AllSkyFree/

# IDE / Editor
.vs/
.vscode/
.idea/

# C# project files
*.csproj
*.sln
*.user
*.userprefs
*.pidb
*.booproj
*.svd

# Unity3D generated meta files
*.pidb.meta
*.pdb.meta

# OS
.DS_Store
Thumbs.db

